.root {
    -fx-background-color: radial-gradient( center 70% 5%, radius 60%,  #1D3461, #376996 );
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: left top, left 19px top 15px;
    -fx-font-family: "Arial Narrow";
    -fx-pref-height: 250;
    -fx-pref-width: 500;
}

.ikonli-font-icon {
    -fx-icon-color: white;
}

.tool-bar {
    /*-fx-border-color: red;*/
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-pref-height: 16;
    -fx-max-height: 16;
    -fx-padding: 4, 0, 0, 4;
}

.scroll-pane {
    -fx-border-color: green;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.label {
    /*-fx-border-color: pink;*/
    -fx-text-fill: white;
}
.label.header {
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.label.body {
    -fx-font-size: 18;
}
.label.small {
    -fx-font-size: 14;
}
.menu-item .label {
    -fx-text-fill: black;

}
.menu-item:hover .label {
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button {
    -fx-background-color: transparent;
    -fx-icons-color: white;
    -fx-pref-height: 24;
    -fx-pref-width: 24;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    /*-fx-background-insets: 0 0 -1 0, 0, 1, 2;*/
    -fx-background-radius: 0px, 0px, 0px, 0px;
    /*-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; !* 4 8 4 8 *!*/
    /*-fx-text-fill: -fx-text-base-color;*/
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}



.custom-text-field {
    /*-fx-border-color: green;*/
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-height: 32;
    -fx-pref-width: 128;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.menu-bar {
    /*-fx-border-color: blue;*/
    -fx-spacing: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-pref-height: 24;
    -fx-tile-alignment: center;
}

.search-pane-with-border {
    -fx-border-color: white;
    -fx-border-radius: 4;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.center-vbox {
    -fx-border-color: white;
    -fx-border-radius: 4;
    -fx-alignment: center;
}





